* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.container {
    min-height: 150px;
    width: 500px;
    margin-top: 200px;
    background-color: white;
    border-radius: 5px;

    .grocery-form {
        margin: 50px 25px 40px 25px;

        &__title {
            text-align: center;
            color: #110043;
            margin-bottom: 20px;
        }

        &__input-form {
            width: 100%;
            display: flex;
        }

        &__input {
            width: 90%;
            height: 20px;
            border: none;
            background-color: whitesmoke;
            border-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding-left: 10px;
        }

        &__input-button {
            width: 10%;
            background-color: lightblue;
            border: none;
            border-radius: 5px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            cursor: pointer;
        }
        
        &__error{
            color: red;
            display: none;
        }
    }

    .grocery-content{
        
        &__list {
            list-style: none;
            margin: 0 35px 25px 35px;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            
        }



        &__edit-icon {
                width: 17px;
                height: 17px;
                cursor: pointer;
        }

        &__delete-icon {
                width: 17px;
                height: 17px;
                cursor: pointer;
        }
        
        &__clear {
           display: none;
           margin: 0 210px 20px 210px;
           border: none;
           background-color: white;
           color: red;
           cursor: pointer;
        }
    }
}